.officeTabs {
    display: flex;
    flex-direction: column;
    row-gap: var(--a-spacing-4);

    :global(.navds-tabs__tablist-wrapper) {
        box-shadow: none;
    }

    :global(.navds-tabs__tab) {
        background-color: var(--a-surface-subtle);
        border-radius: var(--a-border-radius-medium);
        color: var(--a-text-default);

        &:hover {
            background-color: var(--a-deepblue-100);
            box-shadow: none;
        }
        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }

    :global(.navds-tabs__tab[aria-selected='true']:not(:focus)) {
        background-color: var(--a-deepblue-50);
        box-shadow: none;
    }
}

.chooseBetweenOffices {
    margin-bottom: 0.75rem;
}

.singleTab {
    &:focus-visible {
        box-shadow: 0 0 0 2px var(--a-border-focus);
    }
}
