.officeTabs {
    display: flex;
    flex-direction: column;
    row-gap: var(--ax-space-16);

    :global(.aksel-tabs__tablist-wrapper) {
        box-shadow: none;
    }

    :global(.aksel-tabs__tab) {
        background-color: var(--ax-bg-neutral-soft);
        border-radius: var(--ax-radius-4);
        color: var(--ax-text-neutral);

        &:hover {
            background-color: var(--ax-brand-blue-300) !important;
            box-shadow: none;
        }
        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }

    :global(.aksel-tabs__tab[aria-selected='true']) {
        background-color: var(--ax-brand-blue-200);
        box-shadow: none;
    }
}

.chooseBetweenOffices {
    margin-bottom: 0.75rem;
}

.singleTab {
    &:focus-visible {
        box-shadow: 0 0 0 2px var(--ax-border-focus);
    }
}
