name: Publish release (main only)
on:
    workflow_dispatch:
        inputs:
            releaseType:
                type: choice
                required: true
                description: 'Release type'
                default: 'patch'
                options:
                    - patch
                    - minor
                    - major
            releaseBody:
                type: string
                required: true
                description: 'Release description'

jobs:
    publish:
        name: Publish to package registry
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        permissions:
            contents: write
            packages: write
        steps:
            - name: Checkout branch
              uses: actions/checkout@v6
            - name: Setup node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '20'
                  registry-url: 'https://npm.pkg.github.com'
                  cache: 'npm'
            - name: Install dependencies
              run: npm ci
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
            - name: Bump version
              id: version-bump
              run: |
                  git config --global user.name '${{ github.actor }}'
                  git config --global user.email '${{ github.actor }}@users.noreply.github.com'
                  VERSION_TAG=$(npm version ${{ github.event.inputs.releaseType }} --no-git-tag-version)
                  echo "VERSION_TAG=v$(node -p "require('./package.json').version")" >> $GITHUB_ENV
                  echo "version_tag=v$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT
            - name: Build package
              run: npm run build
            - name: Publish package
              id: publish
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Create and push git tag
              if: steps.publish.outcome == 'success'
              run: |
                  git tag ${{ steps.version-bump.outputs.version_tag }}
                  git push origin ${{ steps.version-bump.outputs.version_tag }}
            - name: Create release
              uses: softprops/action-gh-release@v1
              with:
                  tag_name: ${{ steps.version-bump.outputs.version_tag }}
                  body: ${{ github.event.inputs.releaseBody }}
